{% extends 'AppCoder/padre.html' %}

{% block titulo%}
Bienvenido al sitio de Profesores

{% endblock titulo %}

{% block contenido%}
<!--Contenido de mi sitio -->
 <section class="features-icons bg-light text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">                        
                
                    <h1>Bienvenido al sitio para vendedores como tu.</h1>
                    
                    <h3><a href="{% url 'vendedor-formulario' %}">Registrate</a></h3>
            </div>
         </div>
    </div>
</section>
{% endblock contenido%}